extends layout

block content
    div(id="home-pane" class="pane")
        div(id="hack-intro")
            img(src="/logo_mid_site.png", id="logo-mid")
            h1(id="hack-whs") HackWHS
            p.lead(id="hack-date-place").
                December 16, 2017 <br/>
                Westfield Senior High School
    div(id="welcome-pane" class="pane")

    div(id="faq-pane" class="pane")

    div(id="schedule-pane" class="pane")

    div(id="guests-pane" class="pane")

    div(id="sponsors-pane" class="pane")